.post-toc {
    margin: 0;
    /* border: 1px solid var(--border); */
    border-right: 1px solid var(--border);
    /* background: var(--code-bg); */
    /* border-radius: 0 var(--radius) var(--radius) 0; */
    padding: .4em;
    padding-left: 10px;
    overflow-y: auto;
    height: 80vh;
    /* box-shadow: 0 1px 8px rgba(0,0,0,0.1); */

    font-size: 18px;

    position: fixed;
    top: calc(10vh);
    left: 0;
    /* height: auto; */
    width: calc((100% - (var(--main-width) + var(--gap) * 2)) / 2);
    max-width: 360px;
    min-width: 250px;
    z-index: 98;

    transition: width 0.3s ease-in-out, 
        min-width 0.3s ease-in-out, 
        height 0.3s ease-in-out 0.3s, 
        max-height 0.3s ease-in-out 0.3s, 
        visibility .5s, 
        opacity .8s linear;
    opacity: .8;
}

.post-toc summary::marker {
    content: "|";
    font-weight: bolder;
    margin-right: .5rem;
    color: var(--secondary);
}

.post-toc summary.summary-active::marker {
    color: var(--node-active-color)
}

.post-toc .title {
    font-size: 18px;
    font-weight: bold;
}

.post-toc-tree {
    font-size: 16px;
}

.post-toc .tree-node::marker {
    color: var(--secondary);
}

.post-toc .tree-node.node-active::marker {
    color: var(--node-active-color)
}

.post-toc .tree-node {
    display: list-item;
    font-size: 14px;
}

.post-toc a:hover {
text-decoration: underline;
}

.post-toc .node-active {
    font-weight: bold;
    color: var(--node-active-color)
    /* color: var(--text); */
}

.post-toc .sub-tree {
    display: block;
    padding-left: 1em;
    padding-top: .4em;
}

.toc-closed {
    writing-mode: vertical-lr;
    text-align: center;
    width: 34px;
    height: 81px;
    max-height: 81px;
    min-width: 42px;
    font-size: 16px;
    z-index: 99;

    padding: 10px 5px;
}

@media (max-width: 1279px) {
    .post-toc {
        display: none;
    }
}