{{- $section := .Section -}}
{{- $current := .Current -}}
{{- if $section }}
  {{- range $section.Sections }}
    {{- $isCurrent := or (eq $current.RelPermalink .RelPermalink) (in $current.RelPermalink .RelPermalink) }}
    {{- $isCurrentPage := eq $current.RelPermalink .RelPermalink }}
    <details {{ if $isCurrent }} open {{ end }}>
        <summary class="{{ if $isCurrent }}summary-active{{ end }}" accesskey="c" title="(Alt + C)">
            <!-- <span class="details">{{ .Title }}</span> -->
            <a href="{{ .RelPermalink }}" class="{{ if $isCurrent }}node-active{{ end }}">{{ .Title }}</a>
        </summary>
        <dev class="sub-tree">
            {{- partial "tree.html" (dict "Section" . "Current" $current) -}}
        </dev>
    </details>
  {{- end }}
  {{- range $section.Pages }}
    {{- if not .IsSection }}
      <a href="{{ .RelPermalink }}" class="tree-node {{ if eq $current.RelPermalink .RelPermalink }}node-active{{ end }}">{{ .Title }}</a>
    {{- end }}
  {{- end }}
{{- end }}